/target/classes/com/example/projetomjavafx/add-music.fxml
/target/classes/com/example/projetomjavafx/model/entities/Album.class
/target/classes/com/example/projetomjavafx/model/dao/AlbumDao.class
/target/classes/com/example/projetomjavafx/model/dao/impl/AlbumDaoJDBC.class
/target/classes/com/example/projetomjavafx/util/Alerta.class
/target/classes/com/example/projetomjavafx/Application.class
/target/classes/com/example/projetomjavafx/application-view.fxml
/target/classes/com/example/projetomjavafx/ApplicationController.class
/target/classes/com/example/projetomjavafx/model/entities/Artista.class
/target/classes/com/example/projetomjavafx/model/dao/ArtistaDao.class
/target/classes/com/example/projetomjavafx/model/dao/impl/ArtistaDaoJDBC.class
/target/classes/com/example/projetomjavafx/model/entities/ArtistaProduz.class
/target/classes/com/example/projetomjavafx/model/dao/ArtistaProduzDao.class
/target/classes/com/example/projetomjavafx/model/dao/impl/ArtistaProduzJDBC.class
/target/classes/com/example/projetomjavafx/model/entities/AvaliaAlb.class
/target/classes/com/example/projetomjavafx/model/dao/AvaliaAlbDao.class
/target/classes/com/example/projetomjavafx/model/dao/impl/AvaliaAlbDaoJDBC.class
/target/classes/com/example/projetomjavafx/model/entities/AvaliaMsc.class
/target/classes/com/example/projetomjavafx/model/dao/AvaliaMscDao.class
/target/classes/com/example/projetomjavafx/model/dao/impl/AvaliaMscDaoJDBC.class
/target/classes/com/example/projetomjavafx/model/dao/DaoFactory.class
/target/classes/com/example/projetomjavafx/db/DB.class
/target/classes/img/fotoPerfilPadrao.png
/target/classes/module-info.class
/target/classes/com/example/projetomjavafx/Music.class
/target/classes/com/example/projetomjavafx/model/entities/Musica.class
/target/classes/com/example/projetomjavafx/model/dao/MusicaDao.class
/target/classes/com/example/projetomjavafx/model/dao/impl/MusicaDaoJDBC.class
/target/classes/com/example/projetomjavafx/MusicController.class
/target/classes/img/perfilvazio.png
/target/classes/com/example/projetomjavafx/registrar_usuario-view.fxml
/target/classes/com/example/projetomjavafx/RegistroController.class
/target/classes/com/example/projetomjavafx/util/Restricoes.class
/target/classes/com/example/projetomjavafx/model/entities/Usuario.class
/target/classes/com/example/projetomjavafx/model/dao/UsuarioDao.class
/target/classes/com/example/projetomjavafx/model/dao/impl/UsuarioDaoJDBC.class
